header{
background-color:#2a2c39 ;
color:#bdc3c7;
font-family:Arial,sans-serife;
text-aling:center;
height:100 px;
margin:0
border:home;
width:100 %;
display:flex;
align-intens:center;
justify-content:center;
}
html,body{;
margin:0;
padding:0;
}
*{
margin:0;
padding:0;
box-zizing:border;
}
body { 
font-family: Arial,sans-serif;
  background: #0f0f0f;
  padding: 20 px;
  text-aling:center;
}
.video-box { 
background: #a62121;
  padding:10 px;
  border-radius:6 px;
  max-width: 560 px;
  margin: auto;
  box-shadow: 0 2 px 5 px rgba ( 0,0,0,0.1);
}
video {
width: 100 %;
border-radius: 4 px;
}
.info {
margin-top:8 px;
}
.info h3 {
font-size: 16 px;
margin:4 px0;
clor: #002f6c;
}
.info-size:  13 px;
color: #e0dfdf;
}
  

  




